body{
    overflow-x:hidden;
}
.home-img{
    width: 100%;
    height: 95vh;
    background-image: url('https://images.unsplash.com/photo-1614854262340-ab1ca7d079c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

li{
    list-style: none;
}


#email{
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    border: none;
    height: 6vh;
    width: 40vh;
    padding: 1vh;
    border-radius: 0.3em;
}
.form button{
    margin-left: 10px;
    height: 6vh;
    width: 15vh;
    border: none;
    color: rgb(0, 115, 255);
    font-weight: bolder;
    border-radius: 0.6em;
}
::placeholder{
    color: white;
}

.shop{
    position: sticky;
bottom: 10vh;
  right: 2rem;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
   
    background-color: rgb(12, 108, 242);
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 24px
}
.shop img, .login img{
    filter: invert();
}


.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
   
    color: white;
    width: 70vh;
    height: 80vh;
}
.three{
    margin-top: -5px;
    margin-left: 3rem;
    cursor: pointer;
}

.nav-item, .navbar-brand{
    margin-left: 3rem;
}

.popcon{
    border-radius: .5em;
    padding: 2em;
    display: flex;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    /* margin-top: 100px; */
    left: 30%;
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: rgb(65, 65, 65) 0.5rem 0.75rem 2rem;
    visibility: hidden;
}

.popcon li:hover{
    color: blue;
    cursor: pointer;
}

.pop{
   opacity: 1;
    visibility: visible;

}


.more-price{
    transition: 0.3s ease;
    margin-top: -3em;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 8em;
   
}
.more-price a{
    text-decoration: none;
    color: black;
  
}
.more-price img{
    transition: 2ms ease;
}


.get-started{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40vh;
    background-image: url('https://images.pexels.com/photos/3137078/pexels-photo-3137078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started button{
    margin-left: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* background: rgb(103, 113, 133); */
}

.footer{
    padding: 7.5rem;
    height: 100vh;
}
.footer li{
    color: grey;
    list-style: none;
}

.footer li:hover{
    cursor: pointer;
    color: blue;
}
.footer .con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer .block, .products, .resources{
    line-height: 2.5rem;
    margin-right: 200px;
}
.company{
    line-height: 2.5rem;
}

 .more-price:hover{
    
    transform: translateX(8px);
}

@media only screen and (max-width: 900px) {

    .wallet{
        margin: 2em;
        
    }
    .wallet .con{
        padding: 2em;
    }

    .wallet .content{
        width: 100%;
    }

    .flexbox .img{
        visibility: hidden;
        overflow: hidden;
       position: absolute;
    }
    .wallet .flexbox{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        /* display: inline; */
        
    }

    .exchange{
        margin: 2em;
        
    }
    .exchange .con{
        padding: 2em;
    }

    .exchange .content{
        width: 100%;
    }

    .flexbox .img{
        visibility: hidden;
        overflow: hidden;
       position: absolute;
    }
    .exchange .flexbox{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        /* display: inline; */
        
    }
    .inst{
        margin: 2em;
        
    }
    .inst .con{
        padding: 2em;
    }

    .inst .content{
        width: 100%;
    }

    .flexbox img{
        visibility: hidden;
        overflow: hidden;
       position: absolute;
    }
    .inst .flexbox{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        /* display: inline; */
        
    }

    .inst .con{
        background: none;
    }

}

@media only screen and (max-width: 990px) {
    .popcon{
        position: absolute;
        padding: 1em;
      left: 10px;
      top: 270px;
      width: 400px;
    }
}

@media only screen and (max-width: 870px) {
    .cards{
        height: auto;
        flex-wrap: wrap;
        padding: 0px 16px 76px 16px;
        /* max-width: 100%; */
      overflow-x: scroll;
    overflow: hidden;
    }
   
    .card1{
        margin-bottom: 2em;
      max-height: 150px;
        min-width: 100px;
        height: auto;

    }
    .get-started {
        flex-direction: column;
    }
}
