body{
    overflow-x:hidden;
}
.home-img{
    width: 100%;
    height: 95vh;
    background-image: url('https://images.unsplash.com/photo-1614854262340-ab1ca7d079c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

li{
    list-style: none;
}


.navbar{
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    padding: 1em;
    background-color: rgb(6, 31, 81);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.nav-item li{
    display: inline-block;
    list-style: none;
    margin-left: 3em;
    cursor: pointer;
}

.btn-outline-primary{
    color: white;
    margin-left: 2em;
    border-color: white;
}

.login{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 3em;
}

.search{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 49, 108);
    border-radius: 50%;
    
}



.login button:nth-child(3){
   margin-left: 2em;
   width: 5em;
   height: 2.5em;
    border: none;
    border-radius: 0.4em;
}



#email{
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    border: none;
    height: 6vh;
    width: 40vh;
    padding: 1vh;
    border-radius: 0.3em;
}
.form button{
    margin-left: 10px;
    height: 6vh;
    width: 15vh;
    border: none;
    color: rgb(0, 115, 255);
    font-weight: bolder;
    border-radius: 0.6em;
}
::placeholder{
    color: white;
}

.shop{
    position: sticky;
bottom: 10vh;
  right: 2rem;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
   
    background-color: rgb(12, 108, 242);
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 24px
}
.shop img, .login img{
    filter: invert();
}


.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
   
    color: white;
    width: 70vh;
    height: 80vh;
}

.popcon{
    border-radius: 1em;
    padding: 3em;
    display: flex;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    /* margin-top: 100px; */
    left: 30%;
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: rgb(65, 65, 65) 0.5rem 0.75rem 2rem;
    visibility: hidden;
}

.pop{
   opacity: 1;
    visibility: visible;

}



.cards{
    /* margin-left: 7em;
    margin-right: 7em; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -80px;
    height: 40vh;
    width: 100%;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0);
}

.card1{
    background-color: white;
    height: 20vh;
   
    min-width: 0px;

    border-radius: 0.5rem;
    box-shadow:rgb(125, 125, 125) 0.75rem 1.5rem 4rem 0rem;
}

.card1 .con{
    padding: 1em;
}
.card1 .con button{
    margin-left: 0.5em;
    float: right;
}

.card1 .dec{
    margin-left: 10px;
    font-weight: bold;
    color: red;
}

.card1 .inc{
    margin-left: 10px;
    font-weight: bold;
    color: rgb(69, 177, 69);
}

.card1 button{
    color: blue;
    border: none;
    border-radius: 0.2em;
    background-color: rgba(156, 156, 243, 0.474);
}

.card1 button:nth-child(2){
    color: green;
    border: none;
    border-radius: 0.2em;
    background-color: rgba(143, 241, 143, 0.479);

}

.more-price{
    margin-top: -3em;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 8em;
   
}
.more-price a{
    text-decoration: none;
    color: black;
  
}

.wallet{
    height: auto;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
}
.exchange{
    height: auto;
    margin-top: auto;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
}
.inst{
    height: auto;
    margin-top: auto;
    margin-left: 5em;
    margin-right: 5em; 
    margin-bottom: 5em;
}

.wallet .con{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 70px 0px 70px 140px ;
    background-color: rgba(115, 73, 242, 0.068);
    border-radius: 1em;
    
    /* background-color: rgba(169, 187, 234, 0.127); */
}

.wallet .block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 1.5em;
    /* display: inline-block; */
    color: rgb(115,73,242);
    background-color: rgb(239, 236, 254);
}

.wallet .content{
    margin-top:2em;
    width: 50%;
    color: rgb(115,73,242);
}

.wallet button{
    margin-top: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    color: white;
    background-color: rgb(115,73,242) ;
}

.wallet .con-block{
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
    padding: 0.5rem 1.5rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(247, 245, 255);
    border-radius: 0.75rem;
    border: 1px solid rgb(222, 216, 253);
    margin-bottom: 0.75rem;
}

 .flexbox{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
}


.wallet .img img{
    width: 20rem;
   margin-left: 10em;
   box-shadow: rgb(125, 125, 125) 0.75rem 0.5rem 2rem;
    border-radius: 2em;
    transform: skewY(20px);
    transform: perspective(200px) rotate3D(0, 1, 0, 350deg);
}
.exchange .img img{
    width: 35rem;
    margin-left: 50px;
   box-shadow: rgb(125, 125, 125) 0.75rem 0.5rem 2rem;
    border-radius: 2em;
    transform: skewY(20px);
    transform: perspective(600px) rotate3D(1, 10, 1, 25deg);
}



.exchange .con{
    
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 70px 0px 70px 140px ;
    border-radius: 1em;
    background-color: rgba(236, 245, 254, 0.5);

}
.exchange .content{
    margin-top:2em;
    width: 50%;
    color: rgb(61, 137, 245);
}
.exchange .img{
    height: auto;
    width: 50%;
}
.exchange .block{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 1.5em;
    background-color: rgb(236, 245, 254);
    color: rgb(61, 137, 245);
}

.exchange .con-block{
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
    padding: 0.5rem 1.5rem;
    transition: color 0.25s ease 0s;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(245, 250, 254);
    /* border-color: rgb(216, 235, 253); */
    border-radius: 0.75rem;
    border: 1px solid rgb(216, 235, 253);
    margin-bottom: 0.75rem;
}

.exchange button{
    margin-top: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    color: white;
    background-color: rgb(61, 137, 245);
}

.inst .con{
    background-color: rgb(240, 242, 247);
    background-image: url('https://www.blockchain.com/static/img/home/homepage-institutional-shapes-bg@2x.png');
    background-size: 625px;
    padding-top: 115px;
    padding-bottom: 200px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 1em;
    background-position: right center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
.inst .block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 1.5em;
    /* display: inline-block; */
    background-color: rgb(223, 227, 235);
    color: rgb(103, 113, 133);
}

.inst .content{
    margin-top:2em;
    width: 50%;
    color:rgb(18, 29, 51)
}

.inst button{
    margin-top: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(103, 113, 133);
}

.get-started{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40vh;
    background-image: url('https://images.pexels.com/photos/3137078/pexels-photo-3137078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started button{
    margin-left: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    line-height: 144%;
    border-radius: 0.5rem;
    border: 0.125rem solid transparent;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* background: rgb(103, 113, 133); */
}

.footer{
    padding: 7.5rem;
    height: 100vh;
}
.footer li{
    color: grey;
    list-style: none;
}

.footer li:hover{
    cursor: pointer;
    color: blue;
}
.footer .con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer .block, .products, .resources{
    line-height: 2.5rem;
    margin-right: 200px;
}
.company{
    line-height: 2.5rem;
}

@media only screen and (max-width: 900px) {

    .wallet{
        margin: 2em;
        
    }
    .wallet .con{
        padding: 2em;
    }

    .wallet .content{
        width: 100%;
    }

    .flexbox .img{
        visibility: hidden;
        overflow: hidden;
       position: absolute;
    }
    .wallet .flexbox{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        /* display: inline; */
        
    }

    .exchange{
        margin: 2em;
        
    }
    .exchange .con{
        padding: 2em;
    }

    .exchange .content{
        width: 100%;
    }

    .flexbox .img{
        visibility: hidden;
        overflow: hidden;
       position: absolute;
    }
    .exchange .flexbox{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        /* display: inline; */
        
    }
    .inst{
        margin: 2em;
        
    }
    .inst .con{
        padding: 2em;
    }

    .inst .content{
        width: 100%;
    }

    .flexbox img{
        visibility: hidden;
        overflow: hidden;
       position: absolute;
    }
    .inst .flexbox{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        /* display: inline; */
        
    }

}

@media only screen and (max-width: 990px) {
    .popcon{
        position: absolute;
        padding: 1em;
      left: 10px;
      top: 200px;
      width: 400px;
    }
}

@media only screen and (max-width: 870px) {
    .cards{
        height: auto;
        flex-wrap: wrap;
        padding: 0px 16px 76px 16px;
        /* max-width: 100%; */
      overflow-x: scroll;
    overflow: hidden;
    }
   
    .card1{
        margin-bottom: 2em;
      max-height: 150px;
        min-width: 100px;
        height: auto;

    }
    .get-started {
        flex-direction: column;
    }
}
